# Node dependencies
node_modules/
.pnp.*
.pnpjs/

# Yarn v4 Berry files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Application-specific
data/
logs/
temp/
dump.rdb

# Config files
config/*.yaml
/config/*
!/config/default_config

# Plugins
/plugins/*
!/plugins/adapter
!/plugins/system
!/plugins/other

# Renderers
/renderers/*/config.yaml

# Resources
/resources

# Shell scripts
/*.sh

# VSCode & Visual Studio
.vscode/
.vs/
*.code-workspace
